@model CarFormModel

@{ 
    ViewData["Title"] = "Create car";
}

<h1 class="text-center text-info mb-3">New car</h1>

<form method="post" class="col-12">
    <partial name="_CreateCarFormPartial" model="@Model" />
    <input type="submit" value="Publish" class="btn btn-info" />
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}