@model CarFormModel

<h1 class="text-center text-warning mb-3">New car</h1>

<form method="post" class="col-12">
    <partial name="_CarFormPartial" model="@Model" />
    <input type="submit" value="Publish" class="btn btn-warning" />
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}