<div class="d-flex align-items-center justify-content-center">
    <h2 class="text-info text-center thank-you-heading">Your request has been received. You need to wait for our admins to approve your request.</h2>   
</div>