<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CarShop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Cars" asp-action="All">All cars</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Cars" asp-action="Create">Create</a>
                </li>
                @if (this.User.Identity.IsAuthenticated)
                {
                    if (!User.IsInRole(WebConstants.DealerRoleName) && !User.IsAdmin())
                    {
                        <li class="nav-item">
                            <a class="nav-link text-light btn btn-info d-inline-block dealer-btn" asp-area="" asp-controller="Dealers" asp-action="Become">Become dealer</a>
                        </li>
                    }
                    else if (User.IsInRole(WebConstants.DealerRoleName) && !User.IsAdmin())
                    {
                        <li class="nav-item">
                            <a class="nav-link text-light btn btn-info d-inline-block dealer-btn" asp-controller="Dealers" asp-action="MyCars" asp-route-id="@User.GetId()">My cars</a>
                        </li>

                    }
                }
            </ul>
            <partial name="_LoginPartial" />
        </div>
    </div>
</nav>